<a href="https://colab.research.google.com/github/shomi840/Python-Projects-Tanvir-Ehsan/blob/main/Assighnment_01_Python_Programming_Tanvir_Ehsan_20310_63.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assighnment_01
**Python:variables**
a.use input()function to accept numbers from user as a value of a variablex.
b.Check the data type using type(function)
c.Also convert the data type to integer and assign to the variable y
d.Convert the data type into float and assign to the variable z
e.display the data Type of x,y,z **and** z

In [1]:
x = input()
print()

100

In [2]:
print(type(x))

<class 'str'>

In [3]:
y = int(x)
print("Data type of x:",type(x))
print("Data type of y:",type(y))

Data type of x: <class 'str'>
Data type of y: <class 'int'>

In [4]:
z = float(x)
print(z)

100.0

In [5]:
print("Data type of x:",type(x))
print("Data type of y :",type(y))
print("Data type of z:",type(z))

Data type of x: <class 'str'>
Data type of y : <class 'int'>
Data type of z: <class 'float'>

**Strings in Python**
a. Write a Python program to calculate the length of a string.
b. Write a Python program to count the number  of characters in a string.
c.Write a python program to remove the **k**th index character from a string.
d. Write a python program to remove the characters which have odd index values of a given string.
e.Write a python scripts that take input from the user and displays that input back in upper and lower cases.
f.Write a python program to sort a string.
g. Write a python program to reverse a string.
h. Write a python program to convert a given string in to List.

In [98]:
s = 'Tanvir Ehsan'

In [99]:
len(s)

12

In [100]:
my_string = "Hello, Tanvir!"
count = 0

for char in my_string:
    if char != " ":
        count += 1

print("The number of characters in the string is:", count)

The number of characters in the string is: 13

In [101]:
my_string = "Hello, Ehsan!"
k = 7

new_string = my_string[:k] + my_string[k+1:]

print("Original string:", my_string)
print("New string:", new_string)

Original string: Hello, Ehsan!
New string: Hello, hsan!

In [12]:
def remove_odd_characters(string):
    new_string = ""
    for index, char in enumerate(string):
        if index % 2 == 0:
            new_string += char
    return new_string

# Test the function
input_string = input("Tanvir Ehsan: ")
result = remove_odd_characters(input_string)
print("String with odd-indexed characters removed:", result)

Tanvir Ehsan: 5
String with odd-indexed characters removed: 5

In [14]:
s1 = "Bangladesh"

In [15]:
s_up = s1.upper()

In [16]:
s_up

'BANGLADESH'

In [18]:
s_lo = s1.lower()

In [19]:
s_lo

'bangladesh'

In [20]:
my_string = "Hello, World!"

sorted_string = "".join(sorted(my_string))

print("Original string:", my_string)
print("Sorted string:", sorted_string)

Original string: Hello, World!
Sorted string:  !,HWdellloor

In [22]:
my_string = "Hello, World!"

reversed_string = my_string[::-1]

print("Original string:", my_string)
print("Reversed string:", reversed_string)

Original string: Hello, World!
Reversed string: !dlroW ,olleH

In [23]:
my_string = "Hello, World!"
my_list = list(my_string)

print("Original string:", my_string)
print("List version:", my_list)

Original string: Hello, World!
List version: ['H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!']

**Python:Lists**
a.Write a python program to sum(or product) all item in a list.
b. Write a pythonprogram to get the largest/smallest number in a list.
c. Write a python program to print the numbers of a specified list after removing even numbers from it.
d.Write a python program to select the odd number of a list.
e.Write a python program to convert a list of characters into a string.
f. Write a python program to find the index of an item in a specified list.
g.Write a python program to add a list to the second list.
h.Write a python program to get unique values from a list and to count unique values inside a list.Also get the frequency of the elements in the list.
i.Write a python program to Extract elements with Frequency greater than K
j.Write a python program to reverse All Strings in String List

In [106]:
my_list = [1, 2, 3, 4, 5, 6]

# Sum all the items in the list
sum_result = sum(my_list)

# Calculate the product of all the items in the list
product_result = 1
for item in my_list:
    product_result *= item

print("Original list:", my_list)
print("Sum of list items:", sum_result)
print("Product of list items:", product_result)

Original list: [1, 2, 3, 4, 5, 6]
Sum of list items: 21
Product of list items: 720

In [103]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8,]

# Get the largest number in the list
largest_number = max(my_list)

# Get the smallest number in the list
smallest_number = min(my_list)

print("Original list:", my_list)
print("Largest number:", largest_number)
print("Smallest number:", smallest_number)

Original list: [1, 2, 3, 4, 5, 6, 7, 8]
Largest number: 8
Smallest number: 1

In [105]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

# Remove even numbers from the list
new_list = [num for num in my_list if num % 2 != 0]

# Print the new list without even numbers
print("Original list:", my_list)
print("List without even numbers:", new_list)

Original list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
List without even numbers: [1, 3, 5, 7, 9, 11, 13]

In [28]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Select the odd numbers from the list
print("original list:" , my_list)
print("List without even numbers:", new_list)

original list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
List without even numbers: [1, 3, 5, 7, 9]

In [29]:
my_list = ['H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!']

# Convert the list of characters to a string
my_string = "".join(my_list)

print("Original list:", my_list)
print("String version:", my_string)

Original list: ['H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!']
String version: Hello, World!

In [31]:
my_list = ['apple', 'banana', 'cherry', 'apple', 'banana']

# Find the index of an item in the list
item_index = my_list.index('cherry')

print("Original list:", my_list)
print("Index of 'cherry':", item_index)

Original list: ['apple', 'banana', 'cherry', 'apple', 'banana']
Index of 'cherry': 2

In [108]:
list1 = [1, 2, 3, 4]
list2 = [4, 5, 6, 7]

# Add list2 to list1
list1.extend(list2)

print("List 1:", list1)
print("List 2:", list2)

List 1: [1, 2, 3, 4, 4, 5, 6, 7]
List 2: [4, 5, 6, 7]

In [119]:
my_list = [1, 2, 2, 3, 4, 4, 4, 5, 5]

# Get unique values from the list
unique_list = list(set(my_list))

# Count unique values in the list
unique_count = len(unique_list)

# Get the frequency of each element in the list
frequency_dict = {}
for item in my_list:
    if item in frequency_dict:
        frequency_dict[item] += 1
    else:
        frequency_dict[item] = 1

print("Original list:", my_list)
print("Unique values:", unique_list)
print("Number of unique values:", unique_count)
print("Element frequency:", frequency_dict)

Original list: [1, 2, 2, 3, 4, 4, 4, 5, 5]
Unique values: [1, 2, 3, 4, 5]
Number of unique values: 5
Element frequency: {1: 1, 2: 2, 3: 1, 4: 3, 5: 2}

In [121]:
def extract_elements_with_frequency(lst, k):
    result = []
    count_dict = {}
    for value in lst:
        count_dict[value] = count_dict.get(value, 0) + 1
    for value, count in count_dict.items():
        if count > k:
            result.append(value)

In [123]:
def get_unique_values(lst):
    unique_values = set(lst)
    unique_count = len(unique_values)
    frequency = {}

    for item in lst:
        frequency[item] = frequency.get(item, 0) + 1

    return list(unique_values), unique_count, frequency

# Example usage
my_list = [1, 2, 3, 4, 2, 3, 5, 1, 4, 2, 6, 7, 8, 6, 9, 10, 10]
unique_values, unique_count, frequency = get_unique_values(my_list)

print("Unique Values:", unique_values)
print("Unique Count:", unique_count)
print("Frequency:", frequency)

Unique Values: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Unique Count: 10
Frequency: {1: 2, 2: 3, 3: 2, 4: 2, 5: 1, 6: 2, 7: 1, 8: 1, 9: 1, 10: 2}

In [40]:
def reverse_strings(string_list):
    reversed_list = []
    for string in string_list:
        reversed_list.append(string[::-1])
    return reversed_list

string_list = ['Hello', 'World', 'Python']
reversed_list = reverse_strings(string_list)
print(reversed_list)

['olleH', 'dlroW', 'nohtyP']

**Python : Dictonary**
a. Write a Python script to create a dictionary (i)Creat a dictionary named **fruit** with keys(**name, colour, taste**).add Mango and Lemon as the value of key-**names, yellow and green** as the value of colour, sweet and sour as the value of the taste.(ii)display the dictionary.(iii)add a new value **Apple**in the names
b.Write a python program to add a key to the dictionary
c.Write a python program to check whether a given key already exists in the dictionary.
d.Access dictionary keys' element by index
e.Write a python program to iterate over dictionaries using for loops
f. Write a Python script to print a dictionary where the keys are numbers between 1 and n (both included) and the values are square of keys
g.Creat a dictinary by extrating the keys from a given dictionary
h. Write a python program to Rename key of a dictionary
i. Write a Program to print only keys of a dictionary
j. Write a program to print values of dictionary

In [42]:
# Create the initial dictionary
fruit = {
    'names': ['Mango', 'Lemon'],
    'color': ['yellow', 'green'],
    'taste': ['sweet', 'sour']
}

# Display the dictionary
print("Initial dictionary:")
print(fruit)

# Add a new value to the 'names' key
fruit['names'].append('Apple')

# Display the updated dictionary
print("Updated dictionary:")
print(fruit)

Initial dictionary:
{'names': ['Mango', 'Lemon'], 'color': ['yellow', 'green'], 'taste': ['sweet', 'sour']}
Updated dictionary:
{'names': ['Mango', 'Lemon', 'Apple'], 'color': ['yellow', 'green'], 'taste': ['sweet', 'sour']}

In [43]:
# Initial dictionary
fruits = {'apple': 3, 'banana': 5, 'orange': 2}

# Display the initial dictionary
print("Initial dictionary:")
print(fruits)

# Add a new key-value pair
fruits['mango'] = 4

# Display the updated dictionary
print("Updated dictionary:")
print(fruits)

Initial dictionary:
{'apple': 3, 'banana': 5, 'orange': 2}
Updated dictionary:
{'apple': 3, 'banana': 5, 'orange': 2, 'mango': 4}

In [56]:
def check_key(dictionary, key):
    if key in dictionary:
        print("The key '{}' exists in the dictionary.".format(key))
    else:
        print("The key '{}' does not exist in the dictionary.".format(key))

# Example usage
my_dictionary = {'name': 'John', 'age': 25, 'city': 'New York'}
check_key(my_dictionary, 'age')  # The key 'age' exists in the dictionary.
check_key(my_dictionary, 'address')  # The key 'address' does not exist in the dictionary.

The key 'age' exists in the dictionary.
The key 'address' does not exist in the dictionary.

In [57]:
# Sample dictionary
fruits = {'apple': 3, 'banana': 5, 'orange': 2}

# Accessing a dictionary element by key
value = fruits['apple']
print(value)

3

In [58]:
# Sample dictionary
fruits = {'apple': 3, 'banana': 5, 'orange': 2}

# Iterate over the dictionary using a for loop
for key in fruits:
    value = fruits[key]
    print(key, ':', value)

apple : 3
banana : 5
orange : 2

In [109]:
def generate_square_dictionary(n):
    square_dict = {}
    for i in range(1, n+1):
        square_dict[i] = i**2
    return square_dict

# Prompt the user for the value of n
n = int(input("Enter the value of n: "))

# Generate the square dictionary
result_dict = generate_square_dictionary(n)

# Print the square dictionary
for key, value in result_dict.items():
    print(key, ":", value)

Enter the value of n: 100
1 : 1
2 : 4
3 : 9
4 : 16
5 : 25
6 : 36
7 : 49
8 : 64
9 : 81
10 : 100
11 : 121
12 : 144
13 : 169
14 : 196
15 : 225
16 : 256
17 : 289
18 : 324
19 : 361
20 : 400
21 : 441
22 : 484
23 : 529
24 : 576
25 : 625
26 : 676
27 : 729
28 : 784
29 : 841
30 : 900
31 : 961
32 : 1024
33 : 1089
34 : 1156
35 : 1225
36 : 1296
37 : 1369
38 : 1444
39 : 1521
40 : 1600
41 : 1681
42 : 1764
43 : 1849
44 : 1936
45 : 2025
46 : 2116
47 : 2209
48 : 2304
49 : 2401
50 : 2500
51 : 2601
52 : 2704
53 : 2809
54 : 2916
55 : 3025
56 : 3136
57 : 3249
58 : 3364
59 : 3481
60 : 3600
61 : 3721
62 : 3844
63 : 3969
64 : 4096
65 : 4225
66 : 4356
67 : 4489
68 : 4624
69 : 4761
70 : 4900
71 : 5041
72 : 5184
73 : 5329
74 : 5476
75 : 5625
76 : 5776
77 : 5929
78 : 6084
79 : 6241
80 : 6400
81 : 6561
82 : 6724
83 : 6889
84 : 7056
85 : 7225
86 : 7396
87 : 7569
88 : 7744
89 : 7921
90 : 8100
91 : 8281
92 : 8464
93 : 8649
94 : 8836
95 : 9025
96 : 9216
97 : 9409
98 : 9604
99 : 9801
100 : 10000

In [113]:
def extract_keys(dictionary):
    keys = list(dictionary.keys())
    extracted_dict = {key: key for key in keys}
    return extracted_dict

In [114]:
original_dict = {'a': 1, 'b': 2, 'c': 3}
extracted_dict = extract_keys(original_dict)
print(extracted_dict)

{'a': 'a', 'b': 'b', 'c': 'c'}

In [60]:
def rename_key(dictionary, old_key, new_key):
    if old_key in dictionary:
        dictionary[new_key] = dictionary.pop(old_key)

# Example usage
my_dict = {'old_key': 123}
print("Before renaming:", my_dict)

rename_key(my_dict, 'old_key', 'new_key')
print("After renaming:", my_dict)

Before renaming: {'old_key': 123}
After renaming: {'new_key': 123}

In [62]:

def print_keys(dictionary):
    for key in dictionary.keys():
        print(key)

# Example usage
my_dict = {'key1': 123, 'key2': 'abc', 'key3': True}
print_keys(my_dict)

key1
key2
key3

In [63]:
def print_values(dictionary):
    for value in dictionary.values():
        print(value)

# Example usage
my_dict = {'key1': 123, 'key2': 'abc', 'key3': True}
print_values(my_dict)

123
abc
True

**Python:Loops**
a. Print First 10 natural numbers using while loop
b. Write a program to print multipication table of a given number
c. Display numbers from a list using loop
d.Print list in reverse order using a loop
e.Display numbers from -10 to -1 using for loop
f.Find the factorial of a given number
g.Use a loop to display elements from a given listpresent at odd index positions
h.Calculate the cube of all numbers from 1 to a given nymber

In [74]:

count = 1
while count <= 10:
    print(count)
    count += 1

1
2
3
4
5
6
7
8
9
10

In [75]:
num = int(input("Enter a number: "))

print("Multiplication Table of", num)
for i in range(1, 11):
    print(num, "x", i, "=", num * i)

Enter a number: 2000
Multiplication Table of 2000
2000 x 1 = 2000
2000 x 2 = 4000
2000 x 3 = 6000
2000 x 4 = 8000
2000 x 5 = 10000
2000 x 6 = 12000
2000 x 7 = 14000
2000 x 8 = 16000
2000 x 9 = 18000
2000 x 10 = 20000

In [76]:
numbers = [1, 2, 3, 4, 5]

for number in numbers:
    print(number)

1
2
3
4
5

In [78]:
numbers = [1, 2, 3, 4, 5]

for i in range(len(numbers)-1, -1, -1):
    print(numbers[i])

5
4
3
2
1

In [80]:
for num in range(-10, 0):
    print(num)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [81]:
num = int(input("Enter a number: "))
factorial = 1

for i in range(1, num + 1):
    factorial *= i

print("Factorial of", num, "is", factorial)

Enter a number: 4
Factorial of 4 is 24

In [82]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

for i in range(1, len(numbers), 2):
    print(numbers[i])

2
4
6
8

**python Userdefined functions**
a. Write a program to create a function that will return a list of the unique digits in your class ID.

In [93]:
def get_unique_digits(class_id = "YourClassID2031063" ):
    class_id_str = str(class_id)
    unique_digits = []
    
    for char in class_id_str:
        if char.isdigit() and char not in unique_digits:
            unique_digits.append(char)
    
    return unique_digits

# Example usage
class_id = "YourClassID 2031063"
unique_digits = get_unique_digits(class_id)
print(unique_digits)

['2', '0', '3', '1', '6']